.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 26px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 725px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 7px 0 46px;
}